body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #071224;
}

::-webkit-scrollbar-thumb {
  background: #0093ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0093ff;
}

.body-theme-cls::-webkit-scrollbar-track {
  background-color: #fafafa !important;
}

.main-sec {
  background-color: #071224 !important;
}

.container-sec {
  max-width: 1250px !important;
}

.nav-sec {
  padding: 13px 17px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  opacity: 0;
  animation: 0.4s headeranim linear infinite;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.4s;
}

@keyframes headeranim {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.add-nav-bg {
  background-color: #121b2aea;
  border: 1px solid #3f3f3f78;
}

.nav-sec .logo-sec {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-sec .logo-sec h1 {
  color: #0093ff !important;
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 32px;
  cursor: pointer;
}

.menu-items-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  height: 100%;
  padding-left: 0px;
}

.menu-items-sec li {
  list-style: none;
}

.menu-items-sec li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.9px;
  font-weight: 500;
}

.menu-items-sec li:last-child a {
  color: #0093ff;
  font-weight: 600;
}

.menu-items-sec li a:hover {
  color: #0093ff;
  font-weight: 600;
}

.menu-icon-btn {
  float: right;
  margin-top: 3px;
}

.active-section {
  color: #0093ff !important;
  font-weight: 600 !important;
}

.menu-icon-btn svg {
  cursor: pointer;
  color: white;
  display: none;
}

.side-bar {
  width: 0px;
  background-color: #061124;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.4s;
  z-index: 1500;
  display: none;
  overflow: hidden;
}

.side-bar-bg {
  top: 0;
  width: 100%;
  content: "";
  background-color: #cdcfd433;
  height: 100%;
  position: fixed;
  z-index: 1400;
  bottom: 0;
  display: none;
}

.side-bar-open {
  width: 270px;
  box-shadow: 0px 0px 23px 7px #232425c9;
}

.opacity-bg {
  opacity: 0.6;
}

.overflow-hide {
  overflow: hidden;
}

.menu-close-sec {
  padding: 17px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s;
  opacity: 0;
}

.menu-close-sec h1 {
  color: #0093ff;
  margin-bottom: 0px;
  font-size: 28px;
}

.menu-close-sec .menu-close-btn {
  width: fit-content;
  height: fit-content;
  outline: none;
  border-width: 0px;
  background-color: transparent;
  padding: 0;
}

.menu-close-sec .menu-close-btn svg {
  cursor: pointer;
  color: white;
  margin-top: -4px;
}

.responsive-menu-list {
  list-style: none;
  margin-top: 20px;
  margin-left: -6px;
  transition: all 0.8s;
  opacity: 0;
}

.responsive-menu-list .menu-list-btn {
  margin-bottom: 26px;
}

.responsive-menu-list .menu-list-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  transition: 1s;
  letter-spacing: 0.9px;
}

.resume-dowmload-btn a {
  color: #0093ff !important;
  font-weight: 600 !important;
}

.responsive-menu-list .menu-list-btn a:hover {
  color: #0093ff;
}

.fade-show-menu {
  animation: 0.6s linear animSideOpen infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animSideOpen {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

.fade-hide-menu {
  animation: 0.3s linear animSideClose infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animSideClose {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

.introduction-sec {
  padding-top: 190px !important;
  display: flex;
  align-items: center;
  padding: 27px;
  position: relative;
  scroll-snap-align: start;
}

.portfolio-image-sec {
  height: 355px;
  max-width: 350px;
  border-radius: 27% 73% 60% 40% / 30% 38% 62% 70%;
  background-color: #0093ff;
  overflow: hidden;
  animation: 0.9s headTxtanim linear infinite;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
  transition: all 1s;
  position: relative;
  z-index: 1;
  border: 3px solid #0093ff;
  margin: auto;
}

.portfolio-image-sec .portfolio-user-img {
  transform: translate(-26px, 34px);
  height: 100%;
  width: 100%;
  animation: 0.5s profileImgAnim linear infinite;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes profileImgAnim {
  0% {
    transform: translate(-26px, 70px);
    opacity: 0.6;
  }

  100% {
    transform: translate(-26px, 34px);
    opacity: 1;
  }
}

.gradient-bg-1 {
  height: 80px;
  width: 80px;
  position: absolute;
  right: 60px;
  top: 40px;
  background-color: #0f6276;
  box-shadow: 0px 0px 157px 180px #0f6276;
  border-radius: 50%;
  animation: 0.4s gradient1anim linear infinite;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
  transition: all 1s;
  z-index: 0;
}

@keyframes gradient1anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gradient-bg-2 {
  height: 80px;
  width: 80px;
  position: absolute;
  left: -80px;
  bottom: -150px;
  background-color: #0f6276;
  box-shadow: 0px 0px 157px 180px #0f6276;
  border-radius: 50%;
  animation: 0.6s gradient2anim linear infinite;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
  transition: all 0.6s;
}

@keyframes gradient2anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro-inner-sec {
  position: relative;
  z-index: 1;
  animation: 0.8s headTxtanim linear infinite;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
  transition: all 1s;
  margin-top: 75px;
}

@keyframes headTxtanim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro-left-sec .intro-inner-sec .head-txt1 {
  font-size: 58px;
  color: #0093ff !important;
  margin-bottom: 1px;
  margin-left: 0px;
}

.intro-left-sec .intro-inner-sec .head-txt2 {
  font-size: 31px;
  color: rgb(239, 237, 237);
  margin: 0;
}

.intro-left-sec .intro-inner-sec .para-txt {
  font-size: 18px;
  color: #b6b3b3;
  margin-top: 20px;
  line-height: 28px;
  max-width: 480px;
}

.loader-sec {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #071224;
}

.loader-inner-sec {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.loader-inner-sec .loader-txt {
  color: #0093ff;
  margin-bottom: 0px;
  font-size: 36px;
  position: absolute;
  top: 80px;
  right: 47%;
  left: 44.7%;
  animation: 1s loaderTxtanim linear infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0;
  transition: all 1s;
}

@keyframes loaderTxtanim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.loader-inner-sec .loader-icon {
  transform: scale(0.3);
}

.loader-inner-sec .loader-icon .circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: stroke 2s ease-out forwards;
  animation-delay: 1s;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

.about-sec {
  margin-top: 130px;
  padding: 27px;
  position: relative;
  z-index: 3;
  opacity: 0;
}

.animate-about-sec {
  animation: 0.6s aboutUpanim linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  transition: all 0.6s;
}

@keyframes aboutUpanim {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.about-sec .about-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 35px;
  border-bottom: 1.6px solid #1275be;
  padding-bottom: 9px;
}

.vector-portfolio-imgsec {
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
}

.animate-vector-img {
  animation: 0.9s vectorImgAnim linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  transition: all 0.9s;
}

@keyframes vectorImgAnim {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  50% {
    opacity: 0.3;
    transform: translateY(-30px);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

.skills-section {
  margin-top: 40px;
}

.skills-section .skills-head-txt {
  font-size: 25px;
  color: white;
  margin-bottom: 25px;
  display: block;
  letter-spacing: 1px;
}

.skills-section .skills-cards {
  background-color: #121b2a66;
  padding: 26px;
  border: 1px solid #3f3f3f78;
  text-align: center;
  border-radius: 12px;
}

.skills-section .skills-cards .skill-txt {
  font-size: 17px;
  display: block;
  color: rgb(214, 213, 213);
  margin-top: 16px;
  cursor: default;
}

.next-logo-bg {
  border-radius: 50%;
  background: white;
  width: fit-content;
  height: fit-content;
  margin: auto;
  outline: 1px solid black;
}

.user-detail-sec .para-txt1 {
  font-size: 16.4px;
  color: #b6b3b3;
  margin-bottom: 25px;
  line-height: 27px;
}

.user-detail-sec .sub-txt {
  font-size: 18px;
  color: #0093ff;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}

.work-sec {
  margin-top: 100px;
  padding: 27px;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.work-sec .work-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 41px;
  border-bottom: 1.6px solid #1275be;
  padding-bottom: 12px;
}

.work-sec .experience-cards {
  background-color: #121b2a66;
  padding: 25px 20px;
  border-radius: 10px;
  border: 1px solid #3f3f3f78;
  max-width: 540px;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}

.expe-card2 {
  animation-delay: 0.8s !important;
}

.animate-work-cards {
  animation: 0.5s workCardsAnim linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes workCardsAnim {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  50% {
    opacity: 0.3;
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.work-sec .experience-cards h4 {
  color: white;
  font-size: 17px;
}

.work-sec .experience-cards span {
  color: #0093ff !important;
  font-size: 15px;
  font-weight: 500;
}

.roles-list {
  margin-top: 23px;
  padding-left: 2px;
}

.roles-list li {
  margin-bottom: 15px;
  color: #e3e1e1f0;
  font-size: 15px;
  list-style: none;
}

.gradient-bg-3 {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: #0f6276;
  box-shadow: 0px 0px 157px 180px #0f6276;
  border-radius: 50%;
  transition: all 1s;
  z-index: -2;
}

.lg-mt {
  margin-top: 1.5rem;
}

.project-sec {
  margin-top: 90px;
  padding: 27px;
  position: relative;
  z-index: 2;
  opacity: 0;
}

#personal-projects-sec {
  margin-top: 75px;
}

#personal-projects-sec h4 {
  opacity: 0;
  animation-delay: 0.3s;
  transform: none !important;
}

.project-sec .project-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 35px;
  border-bottom: 1.6px solid #1275be;
  padding-bottom: 12px;
}

.projects-cards-sec h4 {
  font-size: 25px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
}

.projects-cards-sec a {
  max-width: 370px;
  display: block;
}

.projects-cards-sec a .projects-card {
  overflow: hidden;
  height: 250px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #3f3f3f78;
  opacity: 0;
  transition: all 0.5s;
}

.projects-cards-sec a .projects-card img {
  transition: all 0.7s;
}

.projects-cards-sec a .projects-card img:hover {
  transform: scale(1.1);
}

.anim-project-cards {
  animation: 0.5s animateProjectCards linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes animateProjectCards {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  50% {
    opacity: 0.3;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.card-bg1 {
  animation-delay: 0.4s;
}

.card-bg2 {
  animation-delay: 0.6s;
}

.card-bg3 {
  animation-delay: 0.8s;
}

.card-bg4 {
  animation-delay: 1s;
}

.card-bg5 {
  animation-delay: 1.2s;
}

.card-bg6 {
  animation-delay: 1.4s;
}

.project-details-sec {
  margin-top: 40px;
}

.project-details-card {
  background-color: #121b2a66;
  padding: 35px 23px;
  margin-top: 50px;
  border-radius: 7px;
  border: 1px solid #3f3f3f78;
  transition: all 0.5s;
  max-width: 1200px;
  opacity: 0;
}

.project-details-card .images-sec {
  height: 250px;
  border-radius: 7px;
  overflow: hidden;
}

.project-description-sec {
  margin-left: 30px;
}

.project-description-sec .heade-txt {
  font-size: 21px;
  color: #fff;
  padding-bottom: 11px;
  line-height: 30px;
}

.project-description-sec .heade-txt.heade-txt-anim::after {
  content: "";
  width: 0px;
  background-color: #1275be;
  height: 1.6px;
  display: block;
  margin-top: 10px;
  transition: all 0.7s;
  animation: 0.7s headeTxtAnim linear infinite;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes headeTxtAnim {
  0% {
    width: 0px;
  }

  100% {
    width: 95%;
  }
}

.project-description-sec .description-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
}

.project-description-sec .description-list li {
  color: #e3e1e1f0;
  font-size: 14.4px;
  margin-bottom: 10px;
  line-height: 23px;
}

.gradient-bg-4 {
  height: 70px;
  width: 70px;
  position: absolute;
  left: 0px;
  top: 28%;
  background-color: #0f6276;
  box-shadow: 0px 0px 157px 180px #0f6276;
  border-radius: 50%;
  transition: all 1s;
  z-index: -2;
}

.contact-sec {
  position: relative;
  margin-top: 100px;
  padding: 27px;
  background-color: #0093ff0a;
}

.contact-sec .contact-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 50px;
  border-bottom: 1.6px solid #1275be;
  padding: 12px 0px;
}

.contact-list-sec .contact-list-head {
  font-size: 33px;
  color: #fff;
  margin-bottom: 37px;
}

.inner-contact-list {
  margin-bottom: 23px;
  display: flex;
  align-items: flex-start;
}

.contact-svg-div {
  border: 1px solid #0093ff;
  margin-right: 13px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: grid;
  place-items: center;
  margin-top: 3px;
}

.contact-svg-div svg {
  color: #0093ff;
}

.inner-contact-list .contact-txt-sec span {
  color: #fff;
  display: block;
}

.inner-contact-list .contact-txt-sec a {
  text-decoration: none;
  color: #bbb7b7f0;
  font-size: 14px;
  letter-spacing: 0.9px;
}

.inner-contact-list .contact-txt-sec p {
  text-decoration: none;
  color: #bbb7b7f0;
  font-size: 14px;
  transition: 1s;
  letter-spacing: 0.9px;
  line-height: 23px;
  max-width: 380px;
  margin: 0;
  margin-top: 5px;
}

.social-media-section {
  margin-top: 10px;
}

.social-media-section h4 {
  font-size: 29px;
  color: #0093ff;
  margin-bottom: 30px;
}

.social-media-section a {
  display: inline-block;
  margin-right: 27px;
}

.social-media-section a:last-child {
  background-color: white;
  border-radius: 50%;
  outline: 1px solid white;
}

/* light theme css start */

.main-sec.light-theme {
  background-color: #fafafa !important;
}

.main-sec.light-theme .portfolio-image-sec {
  background-color: #7ec3f4;
  border: 3px solid #7ec3f4 !important;
}

.main-sec.light-theme .gradient-bg-1 {
  background-color: #3fbfdf5c !important;
  box-shadow: 0px 0px 157px 180px #3fbfdf5c !important;
  display: none;
}

.main-sec.light-theme .gradient-bg-2 {
  background-color: #3fbfdf5c !important;
  box-shadow: 0px 0px 157px 180px #3fbfdf5c !important;
  display: none;
}

.main-sec.light-theme .gradient-bg-3 {
  background-color: #3fbfdf5c !important;
  box-shadow: 0px 0px 157px 180px #3fbfdf5c !important;
  display: none;
}

.main-sec.light-theme .gradient-bg-4 {
  background-color: #3fbfdf5c !important;
  box-shadow: 0px 0px 157px 180px #3fbfdf5c !important;
  display: none;
}

.main-sec.light-theme .menu-items-sec li a {
  color: #061124;
  font-weight: 500 !important;
}

.main-sec.light-theme .responsive-menu-list .menu-list-btn a {
  color: #061124;
}

.main-sec.light-theme h1 {
  color: #061124 !important;
}

.main-sec.light-theme h2 {
  color: #061124 !important;
}

.main-sec.light-theme h3 {
  color: #061124 !important;
}

.main-sec.light-theme h4 {
  color: #061124 !important;
}

.main-sec.light-theme span {
  color: #0093ff !important;
}

.main-sec.light-theme li {
  color: #847f7f !important;
}

.main-sec.light-theme p {
  color: #847f7f !important;
}

.main-sec.light-theme .about-head-txt,
.work-head-txt,
.project-head-txt,
.contact-head-txt {
  border-color: #229ef6 !important;
}

.main-sec.light-theme .heade-txt::after {
  background-color: #229ef6 !important;
}

.main-sec.light-theme .nav-sec.add-nav-bg {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 2px 0px 4px 2px rgb(231, 230, 230);
}

.main-sec.light-theme .nav-sec .logo-sec h1 {
  color: #0093ff !important;
}
.main-sec.light-theme .menu-close-sec h1 {
  color: #0093ff !important;
}

.main-sec.light-theme .skills-cards {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0px 0px 6px 0px rgb(190, 189, 189);
}

.main-sec.light-theme .skills-section .skills-head-txt {
  color: #061124 !important;
}

.main-sec.light-theme .skills-cards span {
  color: #061124 !important;
}

.main-sec.light-theme .experience-cards {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0px 0px 6px 0px rgb(190, 189, 189);
}

.main-sec.light-theme .project-details-card {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0px 0px 6px 0px rgb(190, 189, 189);
}

.main-sec.light-theme .projects-card {
  background-color: #fff !important;
  border: none !important;
  box-shadow: 0px 0px 6px 0px rgb(190, 189, 189);
}

.main-sec.light-theme .images-sec {
  box-shadow: 0px 0px 6px 0px rgb(190, 189, 189);
}

.main-sec.light-theme .contact-list span {
  color: #061124 !important;
}

.theme-btn {
  outline: none;
  background-color: transparent;
  border-width: 0px;
  padding: 0;
  right: -15px;
  position: relative;
}

.theme-btn svg {
  color: white;
}

.mobile-theme-btn {
  position: absolute;
  bottom: 23px;
  right: 20px;
  height: 21px;
}

.main-sec.light-theme .theme-btn svg {
  color: #061124 !important;
}

.main-sec.light-theme .menu-icon-btn svg {
  color: #061124 !important;
}

.main-sec.light-theme .side-bar {
  background-color: white !important;
}

.main-sec.light-theme .side-bar.side-bar-open {
  box-shadow: 0px 0px 23px 7px #23242533 !important;
}

.main-sec.light-theme .side-bar-bg {
  background-color: #cdcfd4ba !important;
}

.main-sec.light-theme .menu-close-btn svg {
  color: #061124 !important;
}

/* light theme css end */

@media (max-width: 575px) {
  .menu-icon-btn svg {
    display: block;
  }

  .menu-items-sec {
    display: none;
  }

  .introduction-sec {
    padding-top: 30px !important;
  }

  .intro-left-sec .intro-inner-sec .head-txt1 {
    font-size: 45px;
  }

  .intro-left-sec .intro-inner-sec .head-txt2 {
    font-size: 26px;
  }

  .intro-left-sec .intro-inner-sec .para-txt {
    font-size: 16px;
    line-height: 24px;
  }

  .work-sec {
    margin-top: 70px;
  }

  .about-sec {
    margin-top: 70px;
  }

  .after-sm-mt {
    margin-top: 1.5rem;
  }

  .work-sec .experience-cards {
    margin-bottom: 25px;
    height: auto;
  }

  .gradient-bg-1 {
    right: 0px;
    top: -10px;
  }

  .gradient-bg-2 {
    left: -70px;
  }

  .side-bar,
  .side-bar-bg {
    display: block;
  }

  .side-bar .menu-close-sec {
    padding-top: 22px !important;
  }

  .mt2-after-sm {
    margin-top: 3rem !important;
  }

  .projects-cards-sec a {
    max-width: 100%;
  }

  .projects-cards-sec a .projects-card {
    height: 270px;
  }

  .project-sec {
    margin-top: 40px;
  }

  .inner-contact-list .contact-txt-sec span {
    margin-top: 6px;
  }

  .project-details-sec {
    margin-top: 20px;
  }

  #personal-projects-sec {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .work-sec,
  .about-sec,
  .introduction-sec,
  .project-sec,
  .contact-sec {
    padding: 8px !important;
  }

  .nav-sec {
    padding: 13px 8px;
  }

  .project-details-card {
    padding: 25px 18px;
  }

  .skills-section .skills-cards {
    padding: 26px 20px;
  }

  .intro-left-sec .intro-inner-sec .head-txt1 {
    font-size: 37px;
  }

  .intro-left-sec .intro-inner-sec .head-txt2 {
    font-size: 23px;
  }

  .work-sec .work-head-txt,
  .about-sec .about-head-txt,
  .project-sec .project-head-txt,
  .contact-sec .contact-head-txt {
    font-size: 31px;
  }

  .about-sec {
    margin-top: 50px;
  }

  .inner-contact-list {
    flex-direction: column;
  }

  .contact-sec .contact-head-txt {
    margin-bottom: 35px;
  }

  .social-logo {
    height: 40px;
    width: 40px;
  }

  .social-media-section a {
    margin-right: 18px;
  }

  .social-media-section h4 {
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .portfolio-image-sec {
    height: 325px;
  }
}

@media (max-width: 767px) {
  .after-md-mt {
    margin-top: 1.5rem;
  }

  .mt2-after-md {
    margin-top: 3rem !important;
  }

  .after-lg-mt {
    margin-top: 0;
  }

  .social-media-section {
    margin-top: 40px;
  }

  .project-description-sec {
    margin-left: 0px;
    margin-top: 40px;
  }

  .project-description-sec .description-list {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .portfolio-image-sec {
    margin: auto;
    margin-top: 80px;
  }

  .vector-portfolio-imgsec {
    margin-top: 45px;
  }

  .gradient-bg-3 {
    top: 45px;
  }

  .introduction-sec {
    padding-top: 60px !important;
  }

  .after-lg-mt {
    margin-top: 1.5rem;
  }

  .lg-mt {
    margin-top: 1.5rem;
  }

  .intro-left-sec .intro-inner-sec .para-txt {
    max-width: 100%;
  }

  .social-logo {
    height: 37px;
    width: 37px;
  }

  .vector-portfolio-imgsec {
    height: auto;
  }

  .project-description-sec {
    margin-left: 10px;
  }
}

@media (max-width: 1360px) {
  .container-sec {
    max-width: 1120px !important;
  }
}
