@keyframes headeranim {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animSideOpen {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animSideClose {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

@keyframes skillsTaganim {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(60px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}

@keyframes profileImgAnim {
  0% {
    transform: translate(-26px, 70px);
    opacity: 0.6;
  }

  100% {
    transform: translate(-26px, 34px);
    opacity: 1;
  }
}

@keyframes gradient1anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes gradient2anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes headTxtanim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loaderTxtanim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes aboutUpanim {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes vectorImgAnim {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  50% {
    opacity: 0.3;
    transform: translateY(-30px);
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes workCardsAnim {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  50% {
    opacity: 0.3;
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animateProjectCards {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }

  50% {
    opacity: 0.3;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes headeTxtAnim {
  0% {
    width: 0px;
  }

  100% {
    width: 95%;
  }
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
