@import "./variables";
@import "./mixin";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $portfolio-background !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $portfolio-background;
}

::-webkit-scrollbar-thumb {
  background: $base-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $base-color;
}

.main-sec {
  background-color: $portfolio-background !important;  
}

body:has(.side-bar.side-bar-open) {
  overflow: hidden;
}

body:has(.main-sec.light-theme)::-webkit-scrollbar-track {
  background-color: #fafafa !important;
}

.container-sec {
  max-width: 1250px !important;
}

.loader-sec {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #071224;

  .loader-inner-sec {
    width: fit-content;
    height: fit-content;
    position: relative;

    .loader-icon {
      transform: scale(0.3);

      .circle {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: stroke 2s ease-out forwards;
        animation-delay: 1s;
      }
    }

    .loader-txt {
      color: $base-color;
      margin-bottom: 0px;
      font-size: 36px;
      position: absolute;
      top: 80px;
      right: 47%;
      left: 44.7%;
      @include portfolioAnimation(loaderTxtanim, 1.5s, 1s, 1s, 0, forwards);
    }
  }
}
