@import "./variables";
@import "./mixin";

.body-theme-cls::-webkit-scrollbar-track {
  background-color: #fafafa !important;
}

.main-sec {
  &.light-theme {
    background-color: #fafafa !important;

    .introduction-sec {
      .portfolio-image-sec {
        background-color: #7ec3f4;
        border: 3px solid #7ec3f4 !important;
      }

      .gradient-bg-1 {
        display: none;
      }

      .gradient-bg-2 {
        display: none;
      }
    }

    h1 {
      color: $light-theme-text-color !important;
    }

    h2 {
      color: $light-theme-text-color !important;
    }

    h3 {
      color: $light-theme-text-color !important;
    }

    h4 {
      color: $light-theme-text-color !important;
    }

    span {
      color: $base-color !important;
    }

    li {
      color: #847f7f !important;
    }

    p {
      color: #847f7f !important;
    }

    .about-head-txt,
    .work-head-txt,
    .project-head-txt,
    .contact-head-txt {
      border-color: #229ef6 !important;
    }

    .heade-txt::after {
      background-color: #229ef6 !important;
    }

    .nav-sec {
      &.add-nav-bg {
       @include portfolioLightThemeCards;
       border: none !important;
       box-shadow: 2px 0px 4px 2px rgb(231, 230, 230) !important;
      }

      .logo-sec h1 {
        color: $base-color !important;
      }

      .menu-items-sec {
        li {
          a {
            color: $light-theme-text-color;
            font-weight: 500 !important;
          }

          .theme-btn {
            svg {
              color: $light-theme-text-color !important;
            }
          }
        }
      }

      .menu-close-sec h1 {
        color: $base-color !important;
      }

      .menu-icon-btn svg {
        color: $light-theme-text-color !important;
      }
    }

    .side-bar {
      background-color: white !important;

      &.side-bar-open {
        box-shadow: 0px 0px 23px 7px #23242533 !important;
      }

      .responsive-menu-list {
        .menu-list-btn a {
          color: $light-theme-text-color;
        }
      }

      .menu-close-sec {
        h1 {
          color: $base-color !important;
        }

        .menu-close-btn svg {
          color: $light-theme-text-color !important;
        }
      }
    }

    .theme-btn {
      svg {
        color: $light-theme-text-color !important;
      }
    }

    .side-bar-bg {
      background-color: #cdcfd4ba !important;
    }

    .about-sec {
      .skills-section {

        .skills-head-txt {
          color: $light-theme-text-color !important;
        }

        .skills-cards {
          @include portfolioLightThemeCards;

          span {
            color: $light-theme-text-color !important;
          }

        }
      }
    }

    .work-sec {
      .experience-cards {
        @include portfolioLightThemeCards;
      }

      .gradient-bg-3 {
        display: none;
      }
    }

    .project-sec {
      .projects-cards-sec {
        .projects-card {
          @include portfolioLightThemeCards;
        }
      }

      .project-details-sec {
        .project-details-card {
          @include portfolioLightThemeCards;

          .images-sec {
            border: 1px solid rgb(242 241 241);
          }
        }
      }

      .gradient-bg-4 {
        display: none;
      }
      .gradient-bg-5 {
        display: none;
      }
    }

    .contact-list span {
      color: $light-theme-text-color !important;
    }
  }
}
