
$base-color: #0093ff;
$base-white-color: #fff;
$sub-heading-font-size: 42px;
$sub-grey-text-color: #b6b3b3;
$portfolio-background: #071224;
$card-background-color: #121b2a66;
$card-border: 1px solid #3f3f3f78;
$gradient-background: rgb(15 98 118 / 62%);
$gradient-boxShadow: 0px 0px 157px 180px rgb(15 98 118 / 62%);
$contact-sec-background: #0093ff0a;
$light-theme-text-color: #061124;
