body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #071224;
}

::-webkit-scrollbar-thumb {
  background: #0093ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0093ff;
}

.main-sec {
  background-color: #071224 !important;
}

body:has(.side-bar.side-bar-open) {
  overflow: hidden;
}

body:has(.main-sec.light-theme)::-webkit-scrollbar-track {
  background-color: #fafafa !important;
}

.container-sec {
  max-width: 1250px !important;
}

.loader-sec {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #071224;
}
.loader-sec .loader-inner-sec {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.loader-sec .loader-inner-sec .loader-icon {
  transform: scale(0.3);
}
.loader-sec .loader-inner-sec .loader-icon .circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: stroke 2s ease-out forwards;
  animation-delay: 1s;
}
.loader-sec .loader-inner-sec .loader-txt {
  color: #0093ff;
  margin-bottom: 0px;
  font-size: 36px;
  position: absolute;
  top: 80px;
  right: 47%;
  left: 44.7%;
  opacity: 0;
  animation: 1s loaderTxtanim linear infinite;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 1s;
}

.body-theme-cls::-webkit-scrollbar-track {
  background-color: #fafafa !important;
}

.main-sec.light-theme {
  background-color: #fafafa !important;
}
.main-sec.light-theme .introduction-sec .portfolio-image-sec {
  background-color: #7ec3f4;
  border: 3px solid #7ec3f4 !important;
}
.main-sec.light-theme .introduction-sec .gradient-bg-1 {
  display: none;
}
.main-sec.light-theme .introduction-sec .gradient-bg-2 {
  display: none;
}
.main-sec.light-theme h1 {
  color: #061124 !important;
}
.main-sec.light-theme h2 {
  color: #061124 !important;
}
.main-sec.light-theme h3 {
  color: #061124 !important;
}
.main-sec.light-theme h4 {
  color: #061124 !important;
}
.main-sec.light-theme span {
  color: #0093ff !important;
}
.main-sec.light-theme li {
  color: #847f7f !important;
}
.main-sec.light-theme p {
  color: #847f7f !important;
}
.main-sec.light-theme .about-head-txt,
.main-sec.light-theme .work-head-txt,
.main-sec.light-theme .project-head-txt,
.main-sec.light-theme .contact-head-txt {
  border-color: #229ef6 !important;
}
.main-sec.light-theme .heade-txt::after {
  background-color: #229ef6 !important;
}
.main-sec.light-theme .nav-sec.add-nav-bg {
  background-color: #fff !important;
  border: 1px solid rgb(244, 242, 242) !important;
  box-shadow: 6px 6px 10px -2px rgb(233, 233, 233);
  border: none !important;
  box-shadow: 2px 0px 4px 2px rgb(231, 230, 230) !important;
}
.main-sec.light-theme .nav-sec .logo-sec h1 {
  color: #0093ff !important;
}
.main-sec.light-theme .nav-sec .menu-items-sec li a {
  color: #061124;
  font-weight: 500 !important;
}
.main-sec.light-theme .nav-sec .menu-items-sec li .theme-btn svg {
  color: #061124 !important;
}
.main-sec.light-theme .nav-sec .menu-close-sec h1 {
  color: #0093ff !important;
}
.main-sec.light-theme .nav-sec .menu-icon-btn svg {
  color: #061124 !important;
}
.main-sec.light-theme .side-bar {
  background-color: white !important;
}
.main-sec.light-theme .side-bar.side-bar-open {
  box-shadow: 0px 0px 23px 7px rgba(35, 36, 37, 0.2) !important;
}
.main-sec.light-theme .side-bar .responsive-menu-list .menu-list-btn a {
  color: #061124;
}
.main-sec.light-theme .side-bar .menu-close-sec h1 {
  color: #0093ff !important;
}
.main-sec.light-theme .side-bar .menu-close-sec .menu-close-btn svg {
  color: #061124 !important;
}
.main-sec.light-theme .theme-btn svg {
  color: #061124 !important;
}
.main-sec.light-theme .side-bar-bg {
  background-color: rgba(205, 207, 212, 0.7294117647) !important;
}
.main-sec.light-theme .about-sec .skills-section .skills-head-txt {
  color: #061124 !important;
}
.main-sec.light-theme .about-sec .skills-section .skills-cards {
  background-color: #fff !important;
  border: 1px solid rgb(244, 242, 242) !important;
  box-shadow: 6px 6px 10px -2px rgb(233, 233, 233);
}
.main-sec.light-theme .about-sec .skills-section .skills-cards span {
  color: #061124 !important;
}
.main-sec.light-theme .work-sec .experience-cards {
  background-color: #fff !important;
  border: 1px solid rgb(244, 242, 242) !important;
  box-shadow: 6px 6px 10px -2px rgb(233, 233, 233);
}
.main-sec.light-theme .work-sec .gradient-bg-3 {
  display: none;
}
.main-sec.light-theme .project-sec .projects-cards-sec .projects-card {
  background-color: #fff !important;
  border: 1px solid rgb(244, 242, 242) !important;
  box-shadow: 6px 6px 10px -2px rgb(233, 233, 233);
}
.main-sec.light-theme .project-sec .project-details-sec .project-details-card {
  background-color: #fff !important;
  border: 1px solid rgb(244, 242, 242) !important;
  box-shadow: 6px 6px 10px -2px rgb(233, 233, 233);
}
.main-sec.light-theme .project-sec .project-details-sec .project-details-card .images-sec {
  border: 1px solid rgb(242, 241, 241);
}
.main-sec.light-theme .project-sec .gradient-bg-4 {
  display: none;
}
.main-sec.light-theme .project-sec .gradient-bg-5 {
  display: none;
}
.main-sec.light-theme .contact-list span {
  color: #061124 !important;
}

@keyframes headeranim {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animSideOpen {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animSideClose {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
@keyframes skillsTaganim {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0px);
  }
}
@keyframes profileImgAnim {
  0% {
    transform: translate(-26px, 70px);
    opacity: 0.6;
  }
  100% {
    transform: translate(-26px, 34px);
    opacity: 1;
  }
}
@keyframes gradient1anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes gradient2anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headTxtanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loaderTxtanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aboutUpanim {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes vectorImgAnim {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.3;
    transform: translateY(-30px);
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes workCardsAnim {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  50% {
    opacity: 0.3;
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes animateProjectCards {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  50% {
    opacity: 0.3;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes headeTxtAnim {
  0% {
    width: 0px;
  }
  100% {
    width: 95%;
  }
}
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
.nav-sec {
  padding: 13px 17px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  opacity: 0;
  animation: 0.4s headeranim linear infinite;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.4s;
}
.nav-sec.add-nav-bg {
  background-color: rgba(18, 27, 42, 0.9176470588);
  border: 1px solid rgba(63, 63, 63, 0.4705882353);
}
.nav-sec .logo-sec {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav-sec .logo-sec h1 {
  color: #0093ff !important;
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 32px;
  cursor: pointer;
}
.nav-sec .menu-items-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  height: 100%;
  padding-left: 0px;
}
.nav-sec .menu-items-sec li {
  list-style: none;
}
.nav-sec .menu-items-sec li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.9px;
  font-weight: 500;
}
.nav-sec .menu-items-sec li a.active-section {
  color: #0093ff !important;
  font-weight: 600 !important;
}
.nav-sec .menu-items-sec li a:hover {
  color: #0093ff;
  font-weight: 600;
}
.nav-sec .menu-icon-btn {
  float: right;
  margin-top: 3px;
}
.nav-sec .menu-icon-btn svg {
  cursor: pointer;
  color: #fff;
  display: none;
}

.side-bar {
  width: 0px;
  background-color: #061124;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.3s;
  z-index: 1500;
  display: none;
  overflow: hidden;
}
.side-bar.side-bar-open {
  width: 270px;
  box-shadow: 0px 0px 23px 7px rgba(35, 36, 37, 0.7882352941);
}
.side-bar .menu-close-sec {
  padding: 17px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.8s;
  opacity: 0;
}
.side-bar .menu-close-sec.fade-show-menu {
  animation: 0.6s animSideOpen linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.side-bar .menu-close-sec.fade-hide-menu {
  animation: 0.3s animSideClose linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.side-bar .menu-close-sec h1 {
  color: #0093ff;
  margin-bottom: 0px;
  font-size: 28px;
}
.side-bar .menu-close-sec .menu-close-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  border-width: 0px;
  background-color: transparent;
  padding: 0;
}
.side-bar .menu-close-sec .menu-close-btn svg {
  cursor: pointer;
  color: #fff;
  margin-top: -4px;
}
.side-bar .responsive-menu-list {
  list-style: none;
  margin-top: 20px;
  margin-left: -6px;
  transition: all 0.8s;
  opacity: 0;
}
.side-bar .responsive-menu-list.fade-show-menu {
  animation: 0.6s animSideOpen linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.side-bar .responsive-menu-list.fade-hide-menu {
  animation: 0.3s animSideClose linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.side-bar .responsive-menu-list .menu-list-btn {
  margin-bottom: 26px;
}
.side-bar .responsive-menu-list .menu-list-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  transition: 1s;
  letter-spacing: 0.9px;
}
.side-bar .responsive-menu-list .menu-list-btn a.active-section {
  color: #0093ff !important;
  font-weight: 600 !important;
}
.side-bar .responsive-menu-list .menu-list-btn a:hover {
  color: #0093ff;
}

.side-bar-bg {
  top: 0;
  width: 100%;
  content: "";
  background-color: rgba(205, 207, 212, 0.2);
  height: 100%;
  position: fixed;
  z-index: 1400;
  bottom: 0;
  display: none;
}

.introduction-sec {
  padding-top: 190px !important;
  display: flex;
  align-items: center;
  padding: 27px;
  position: relative;
  scroll-snap-align: start;
}
.introduction-sec .intro-left-sec .intro-inner-sec {
  position: relative;
  z-index: 1;
  margin-top: 75px;
  opacity: 0;
  animation: 0.8s headTxtanim linear infinite;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 1s;
}
.introduction-sec .intro-left-sec .intro-inner-sec .head-txt1 {
  font-size: 58px;
  color: #0093ff !important;
  margin-bottom: 1px;
  margin-left: 0px;
}
.introduction-sec .intro-left-sec .intro-inner-sec .head-txt2 {
  font-size: 31px;
  color: rgb(239, 237, 237);
  margin: 0;
}
.introduction-sec .intro-left-sec .intro-inner-sec .para-txt {
  font-size: 18px;
  color: #b6b3b3;
  margin-top: 20px;
  line-height: 28px;
  max-width: 480px;
}
.introduction-sec .portfolio-image-sec {
  height: 355px;
  max-width: 350px;
  border-radius: 27% 73% 60% 40%/30% 38% 62% 70%;
  background-color: #0093ff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: 3px solid #0093ff;
  margin: auto;
  opacity: 0;
  animation: 0.9s headTxtanim linear infinite;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 1s;
}
.introduction-sec .portfolio-image-sec .portfolio-user-img {
  width: 83%;
  height: 89%;
  margin: 4px 44px;
  opacity: 0;
  animation: 0.9s profileImgAnim linear infinite;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.introduction-sec .gradient-bg-1 {
  z-index: 0;
  opacity: 0;
  animation: 0.4s gradient1anim linear infinite;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 1s;
  height: 70px;
  width: 70px;
  right: 40px;
  top: 40px;
  left: unset;
  bottom: unset;
  position: absolute;
  background-color: rgba(15, 98, 118, 0.62);
  box-shadow: 0px 0px 157px 180px rgba(15, 98, 118, 0.62);
  border-radius: 50%;
}
.introduction-sec .gradient-bg-2 {
  opacity: 0;
  animation: 0.6s gradient2anim linear infinite;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.6s;
  height: 70px;
  width: 70px;
  right: unset;
  top: unset;
  left: -80px;
  bottom: -130px;
  position: absolute;
  background-color: rgba(15, 98, 118, 0.62);
  box-shadow: 0px 0px 157px 180px rgba(15, 98, 118, 0.62);
  border-radius: 50%;
}

.about-sec {
  margin-top: 130px;
  padding: 27px;
  position: relative;
  z-index: 3;
  opacity: 0;
}
.about-sec.animate-about-sec {
  animation: 0.6s aboutUpanim linear infinite;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.6s;
}
.about-sec .about-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 35px;
  border-bottom: 1.6px solid #1275be;
  padding-bottom: 9px;
}
.about-sec .user-detail-sec .para-txt1 {
  font-size: 16.4px;
  color: #b6b3b3;
  margin-bottom: 25px;
  line-height: 27px;
}
.about-sec .user-detail-sec .sub-txt {
  font-size: 18px;
  color: #0093ff;
  margin-bottom: 8px;
  display: block;
  font-weight: 500;
}
.about-sec .vector-portfolio-imgsec {
  height: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
}
.about-sec .vector-portfolio-imgsec.animate-vector-img {
  animation: 0.9s vectorImgAnim linear infinite;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.9s;
}
.about-sec .skills-section {
  margin-top: 40px;
}
.about-sec .skills-section .skills-head-txt {
  font-size: 25px;
  color: #fff;
  margin-bottom: 25px;
  display: block;
  letter-spacing: 1px;
}
.about-sec .skills-section .skills-cards {
  background-color: rgba(18, 27, 42, 0.4);
  padding: 26px;
  border: 1px solid rgba(63, 63, 63, 0.4705882353);
  text-align: center;
  border-radius: 12px;
}
.about-sec .skills-section .skills-cards .skill-txt {
  font-size: 17px;
  display: block;
  color: rgb(214, 213, 213);
  margin-top: 16px;
  cursor: default;
}
.about-sec .skills-section .skills-cards .next-logo-bg {
  border-radius: 50%;
  background: #fff;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  outline: 1px solid black;
}

.work-sec {
  margin-top: 100px;
  padding: 27px;
  position: relative;
  z-index: 2;
  opacity: 0;
}
.work-sec.animate-work-sec {
  animation: 0.6s aboutUpanim linear infinite;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.6s;
}
.work-sec .work-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 41px;
  border-bottom: 1.6px solid #1275be;
  padding-bottom: 12px;
}
.work-sec .experience-cards {
  background-color: rgba(18, 27, 42, 0.4);
  padding: 25px 20px;
  border-radius: 10px;
  border: 1px solid rgba(63, 63, 63, 0.4705882353);
  max-width: 540px;
  height: 100%;
  transition: all 0.5s;
  opacity: 0;
}
.work-sec .experience-cards.expe-card2 {
  animation-delay: 0.8s !important;
}
.work-sec .experience-cards.animate-work-cards {
  animation: 0.5s workCardsAnim linear infinite;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.work-sec .experience-cards h4 {
  color: #fff;
  font-size: 17px;
}
.work-sec .experience-cards span {
  color: #0093ff !important;
  font-size: 15px;
  font-weight: 500;
}
.work-sec .experience-cards .roles-list {
  margin-top: 23px;
  padding-left: 0px;
}
.work-sec .experience-cards .roles-list li {
  margin-bottom: 17px;
  color: rgba(227, 225, 225, 0.9411764706);
  font-size: 15px;
  list-style: none;
  padding-left: 28px;
  position: relative;
}
.work-sec .experience-cards .roles-list li::before {
  content: "";
  transform: rotate(45deg);
  content: "";
  position: absolute;
  height: 14px;
  width: 13px;
  left: 0;
  display: block;
  background-image: url("../images/work-exp-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 5px;
}
.work-sec .gradient-bg-3 {
  transition: all 1s;
  z-index: -2;
  height: 50px;
  width: 50px;
  right: 0;
  top: unset;
  left: unset;
  bottom: 20px;
  position: absolute;
  background-color: rgba(15, 98, 118, 0.62);
  box-shadow: 0px 0px 157px 180px rgba(15, 98, 118, 0.62);
  border-radius: 50%;
}

.project-sec {
  margin-top: 90px;
  padding: 27px;
  position: relative;
  z-index: 2;
  opacity: 0;
}
.project-sec.animate-project-sec {
  animation: 0.6s aboutUpanim linear infinite;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.6s;
}
.project-sec .project-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 35px;
  border-bottom: 1.6px solid #1275be;
  padding-bottom: 12px;
}
.project-sec .projects-cards-sec h4 {
  font-size: 25px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
}
.project-sec .projects-cards-sec a {
  max-width: 370px;
  display: block;
}
.project-sec .projects-cards-sec a .projects-card {
  overflow: hidden;
  height: 250px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(63, 63, 63, 0.4705882353);
  opacity: 0;
  transition: all 0.5s;
}
.project-sec .projects-cards-sec a .projects-card.card-bg1 {
  animation-delay: 0.3s !important;
}
.project-sec .projects-cards-sec a .projects-card.card-bg2 {
  animation-delay: 0.4s !important;
}
.project-sec .projects-cards-sec a .projects-card.card-bg3 {
  animation-delay: 0.5s !important;
}
.project-sec .projects-cards-sec a .projects-card.card-bg4 {
  animation-delay: 0.6s !important;
}
.project-sec .projects-cards-sec a .projects-card.card-bg5 {
  animation-delay: 0.7s !important;
}
.project-sec .projects-cards-sec a .projects-card.card-bg6 {
  animation-delay: 0.8s !important;
}
.project-sec .projects-cards-sec a .projects-card.anim-project-cards {
  animation: 0.5s animateProjectCards linear infinite;
  animation-delay: initial;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.project-sec .projects-cards-sec a .projects-card img {
  transition: all 0.7s;
}
.project-sec .projects-cards-sec a .projects-card img:hover {
  transform: scale(1.1);
}
.project-sec .project-details-sec {
  margin-top: 40px;
}
.project-sec .project-details-sec .project-details-card {
  background-color: rgba(18, 27, 42, 0.4);
  padding: 35px 23px;
  margin-top: 50px;
  border-radius: 7px;
  border: 1px solid rgba(63, 63, 63, 0.4705882353);
  transition: all 0.5s;
  max-width: 1200px;
  opacity: 0;
}
.project-sec .project-details-sec .project-details-card.anim-project-cards {
  animation: 0.5s animateProjectCards linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}
.project-sec .project-details-sec .project-details-card .images-sec {
  height: 250px;
  border-radius: 7px;
  overflow: hidden;
}
.project-sec .project-details-sec .project-details-card .project-description-sec {
  margin-left: 30px;
}
.project-sec .project-details-sec .project-details-card .project-description-sec .heade-txt {
  font-size: 21px;
  color: #fff;
  padding-bottom: 11px;
  line-height: 30px;
}
.project-sec .project-details-sec .project-details-card .project-description-sec .heade-txt.heade-txt-anim::after {
  content: "";
  width: 0px;
  background-color: #1275be;
  height: 1.6px;
  display: block;
  margin-top: 10px;
  animation: 0.7s headeTxtAnim linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all 0.7s;
}
.project-sec .project-details-sec .project-details-card .project-description-sec .description-list {
  list-style: none;
  padding-left: 0px;
  margin-top: 20px;
}
.project-sec .project-details-sec .project-details-card .project-description-sec .description-list li {
  color: rgba(227, 225, 225, 0.9411764706);
  font-size: 14.4px;
  margin-bottom: 13px;
  line-height: 23px;
  position: relative;
  padding-left: 27px;
}
.project-sec .project-details-sec .project-details-card .project-description-sec .description-list li::before {
  content: "";
  transform: rotate(45deg);
  content: "";
  position: absolute;
  height: 14px;
  width: 13px;
  left: 0;
  display: block;
  background-image: url("../images/work-exp-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 5px;
}
.project-sec .gradient-bg-4 {
  transition: all 1s;
  z-index: -2;
  height: 40px;
  width: 40px;
  right: unset;
  top: 28%;
  left: 0px;
  bottom: unset;
  position: absolute;
  background-color: rgba(15, 98, 118, 0.62);
  box-shadow: 0px 0px 157px 180px rgba(15, 98, 118, 0.62);
  border-radius: 50%;
}
.project-sec .gradient-bg-5 {
  transition: all 1s;
  z-index: -2;
  height: 50px;
  width: 50px;
  right: 0;
  top: unset;
  left: unset;
  bottom: 210px;
  position: absolute;
  background-color: rgba(15, 98, 118, 0.62);
  box-shadow: 0px 0px 157px 180px rgba(15, 98, 118, 0.62);
  border-radius: 50%;
}

#personal-projects-sec {
  margin-top: 75px;
}

#personal-projects-sec h4 {
  animation-delay: 0.3s;
  transform: none !important;
  opacity: 0;
}
#personal-projects-sec h4.anim-project-cards {
  animation: 0.5s animateProjectCards linear infinite;
  animation-delay: unset;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  transition: all unset;
}

.contact-sec {
  position: relative;
  padding: 27px;
  margin-top: 130px;
  background-color: rgba(0, 147, 255, 0.0392156863);
}
.contact-sec .contact-head-txt {
  font-size: 42px;
  color: #fff;
  margin-bottom: 50px;
  border-bottom: 1.6px solid #0093ff;
  padding: 12px 0px;
}
.contact-sec .contact-list-sec .contact-list-head {
  font-size: 33px;
  color: #fff;
  margin-bottom: 37px;
}
.contact-sec .contact-list-sec .inner-contact-list {
  margin-bottom: 23px;
  display: flex;
  align-items: flex-start;
}
.contact-sec .contact-list-sec .inner-contact-list .contact-txt-sec a {
  text-decoration: none;
  color: rgba(187, 183, 183, 0.9411764706);
  font-size: 14px;
  letter-spacing: 0.9px;
}
.contact-sec .contact-list-sec .inner-contact-list .contact-txt-sec span {
  color: #fff;
  display: block;
}
.contact-sec .contact-list-sec .inner-contact-list .contact-txt-sec p {
  text-decoration: none;
  color: rgba(187, 183, 183, 0.9411764706);
  font-size: 14px;
  transition: 1s;
  letter-spacing: 0.9px;
  line-height: 23px;
  max-width: 380px;
  margin: 0;
  margin-top: 5px;
}
.contact-sec .contact-list-sec .inner-contact-list .contact-svg-div {
  border: 1px solid #0093ff;
  margin-right: 13px;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: grid;
  place-items: center;
  margin-top: 3px;
}
.contact-sec .contact-list-sec .inner-contact-list .contact-svg-div svg {
  color: #0093ff;
}
.contact-sec .social-media-section {
  margin-top: 10px;
}
.contact-sec .social-media-section h4 {
  font-size: 29px;
  color: #0093ff;
  margin-bottom: 30px;
}
.contact-sec .social-media-section a {
  display: inline-block;
  margin-right: 27px;
}
.contact-sec .social-media-section a:last-child {
  background-color: #fff;
  border-radius: 50%;
  outline: 1px solid #fff;
}

.theme-btn {
  outline: none;
  background-color: transparent;
  border-width: 0px;
  padding: 0;
  right: -15px;
  position: relative;
}

.theme-btn svg {
  color: white;
}

.mobile-theme-btn {
  position: absolute;
  bottom: 23px;
  right: 20px;
  height: 21px;
}

.lg-mt {
  margin-top: 1.5rem;
}

@media (max-width: 380px) {
  .introduction-sec .portfolio-image-sec {
    height: 325px;
  }
}
@media (max-width: 480px) {
  .work-sec,
  .about-sec,
  .introduction-sec,
  .project-sec,
  .contact-sec {
    padding: 8px !important;
  }
  .nav-sec {
    padding: 13px 8px;
  }
  .project-sec .project-details-sec .project-details-card {
    padding: 25px 18px;
  }
  .skills-section .skills-cards {
    padding: 26px 20px;
  }
  .introduction-sec .intro-inner-sec .head-txt1 {
    font-size: 37px;
  }
  .introduction-sec .intro-inner-sec .head-txt2 {
    font-size: 23px;
  }
  .work-sec .work-head-txt {
    font-size: 31px;
  }
  .about-sec .about-head-txt {
    font-size: 31px;
  }
  .project-sec .project-head-txt {
    font-size: 31px;
  }
  .about-sec {
    margin-top: 80px;
  }
  .contact-sec .contact-head-txt {
    margin-bottom: 35px;
    font-size: 31px;
  }
  .contact-sec .contact-list-sec .inner-contact-list {
    flex-direction: column;
  }
  .contact-sec .social-logo {
    height: 40px;
    width: 40px;
  }
  .contact-sec .social-media-section a {
    margin-right: 18px;
  }
  .contact-sec .social-media-section h4 {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .nav-sec .menu-items-sec {
    display: none;
  }
  .nav-sec .menu-icon-btn svg {
    display: block;
  }
  .introduction-sec {
    padding-top: 30px !important;
  }
  .introduction-sec .intro-left-sec .intro-inner-sec .head-txt1 {
    font-size: 41px;
  }
  .introduction-sec .intro-left-sec .intro-inner-sec .head-txt2 {
    font-size: 26px;
  }
  .introduction-sec .intro-left-sec .intro-inner-sec .para-txt {
    font-size: 16px;
    line-height: 24px;
  }
  .introduction-sec .gradient-bg-1 {
    right: 0px;
    top: -10px;
  }
  .introduction-sec .gradient-bg-2 {
    left: -70px;
  }
  .work-sec {
    margin-top: 70px;
  }
  .work-sec .experience-cards {
    margin-bottom: 25px;
    height: auto;
  }
  .about-sec {
    margin-top: 70px;
  }
  .after-sm-mt {
    margin-top: 1.5rem;
  }
  .side-bar {
    display: block;
  }
  .side-bar .menu-close-sec {
    padding-top: 22px !important;
  }
  .side-bar-bg {
    display: block;
  }
  .mt2-after-sm {
    margin-top: 3rem !important;
  }
  .project-sec {
    margin-top: 40px;
  }
  .project-sec .project-details-sec {
    margin-top: 20px;
  }
  .project-sec .projects-cards-sec a {
    max-width: 100%;
  }
  .project-sec .projects-cards-sec a .projects-card {
    height: 270px;
  }
  .contact-sec .contact-list-sec .inner-contact-list .contact-txt-sec span {
    margin-top: 6px;
  }
  #personal-projects-sec {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .after-md-mt {
    margin-top: 1.5rem;
  }
  .mt2-after-md {
    margin-top: 3rem !important;
  }
  .after-lg-mt {
    margin-top: 0;
  }
  .contact-sec .social-media-section {
    margin-top: 40px;
  }
  .project-sec .project-details-sec .project-details-card .project-description-sec {
    margin-left: 0px;
    margin-top: 40px;
  }
  .project-sec .project-details-sec .project-details-card .project-description-sec .description-list {
    margin-top: 15px;
  }
}
@media (max-width: 991px) {
  .introduction-sec {
    padding-top: 60px !important;
  }
  .introduction-sec .portfolio-image-sec {
    margin: auto;
    margin-top: 80px;
  }
  .introduction-sec .intro-left-sec .intro-inner-sec .para-txt {
    max-width: 100%;
  }
  .about-sec .vector-portfolio-imgsec {
    margin-top: 45px;
    height: auto;
  }
  .work-sec .gradient-bg-3 {
    top: 45px;
  }
  .after-lg-mt {
    margin-top: 1.5rem;
  }
  .lg-mt {
    margin-top: 1.5rem;
  }
  .contact-sec .social-logo {
    height: 37px;
    width: 37px;
  }
  .project-sec .project-details-sec .project-details-card .project-description-sec {
    margin-left: 0px;
  }
}
@media (max-width: 1360px) {
  .container-sec {
    max-width: 1120px !important;
  }
}/*# sourceMappingURL=main.css.map */